<div class="row form">
<div class="col-md-12">
<h2 class="text-center">Authenticate Yourself!</h2>
<h4 class="text-center">Answer the following questions and you will be on your way!</h4>
<br>
<form novalidate [formGroup]="forgot_form" (keydown)="naventer($event)">
  <div class="form-group">
      <label for="school">Tell us your School name<span class="asterik">*</span></label>
      <input type="text" class="form-control" formControlName="school" id="school" (keyup)="auth()">
      <div [hidden]="this.forgot_form.controls.school.valid || this.forgot_form.controls.school.pristine" class="alert alert-danger"><span>oh.oh! That's mandatory.Please enter your school name</span></div>
  </div>
  <div class="form-group">
      <label for="book">Remember which is your Favourite Book?<span class="asterik">*</span></label>
      <input type="book" class="form-control" formControlName="book" id="book" (keyup)="auth()">
      <div [hidden]="this.forgot_form.controls.book.valid || this.forgot_form.controls.book.pristine" class="alert alert-danger"><span>oh.oh! That's mandatory.Please enter your Favourite Book</span></div>
  </div>
  <div class="form-group">
      <label for="movie">Which is your favourite Movie?<span class="asterik">*</span></label>
      <input type="movie" class="form-control" formControlName="movie" id="movie" (keyup)="auth()">
      <div [hidden]="this.forgot_form.controls.movie.valid || this.forgot_form.controls.movie.pristine" class="alert alert-danger"><span>oh.oh! That's mandatory.Please enter your Favourite Movie</span></div>
  </div>
  <div [hidden]="authMsg || this.forgot_form.pristine" class="alert alert-danger"><span>Something is Incorrect.Please Check!</span></div>
  <div [hidden]="successMsg || this.forgot_form.pristine" class="alert alert-success"><span>Good to Go!</span></div>
  <button type="button" (click)="onsubmit()" class="btn btn-primary" id="submit" [disabled]="!submit" routerLink="/welcome">Login</button>
  <button type="reset" class="btn btn-primary" (click)="reset()">Reset</button>
  <a id="remember" routerLink="/login">Suddenly remembered your Password?</a>
</form>
</div>
</div>